<%- include("../inc/heading.ejs") %>
<%- include("../inc/shop_head.ejs") %>
<%- include("../inc/navbar.ejs") %>

<h1>خطای 500</h1>

<hr>

<h3> خطایی در برقراری ارتباط با سرور به وجود آمده است، لطفا با پشتیبانی سایت تماس بگیرید</h3>

<%- include("../inc/fotter.ejs") %>
